[Unit]
Description=Docker MQTT Updater (Bash)
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/chk_apt2
Environment=APT_MQTT_CONFIG=/root/chk_apt2/config.conf
Environment=APT_MQTT_INSTALL_DIR=/root/chk_apt2
ExecStart=/root/chk_apt2/docker_mqtt_daemon.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target